/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */
@tailwind utilities;

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

body {
  background-color: #f0ecfb;
  font-family: 'Poppins', sans-serif;
}
